<header>
    <a href="/"><img class="logo" src="/IV(white).png" alt="IV" title="Good Messenger"></a>
    <nav>
        <ul class="nav_links">
            <li><a href="/users">Users</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>
    <a class="aBut" href="/">
        <button class="loginButton" id="loginButton">Sign Up</button>                
    </a>
</header>