<!DOCTYPE html>
<html lang="ru">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>
        
        

        <script src="/script.js"></script>

    </body>
</html>