<!DOCTYPE html>
<html lang="ru">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>
        
        <section class="users">
            <h2>Welcome, <%= user.username %></h2>
            <p>  </p>
        </section>

        <script src="/script.js"></script>

    </body>
</html>